body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:aliceblue;
    text-align: center;
    background-image: url('./background.png');
    background-size: cover;
}
.header{
    backdrop-filter: blur(10px);
    text-align: center;
    font-size: 56;
    color: aliceblue;
    border-style: ridge;
    border-color: wheat;
    border: 2pxd;
    border-radius: 5px;
    background-color: rgb(169,169,169,0.5);

}
a{
    color: blanchedalmond;
}
.page
{
    background-color: rgba(152, 143, 255, 0.404);
    backdrop-filter: blur(10px);
    height: 300px;
    border-style: ridge;
    border-color: wheat;
}
.page > .discord-info {
    position: static;
    align-items: center;
    bottom: 30%;
}
.title {
    font-family: consolas;

}
.social{
    background-color: rgba(0, 0, 0, 0.601);
    backdrop-filter: blur(30px);
    border-style: ridge;
    border-color: rgba(0, 0, 0, 0.569);
    position: fixed;
    bottom: 0%;
    left: 0%;
    width:100%;
    text-align: left;
    text-decoration: none;
    word-spacing: 5px;
    z-index: 8;
}
.datetime {
    position:fixed;
    font-family: 'segoe UI';
    right:1%;
    text-align: center;
}
.Updates{
    background-color: rgba(0, 191, 255, 0.322);
    backdrop-filter: blur(10px);
    border-style: ridge;
    border-radius: 5px;
    border-color: wheat;
}
.watermark{
    position: fixed;
    bottom:5%;
    right: 0%;
    text-align: right;
    z-index: 9;
}
.Start{
    background-color: rgba(0, 0, 0, 0.601);
    backdrop-filter: blur(10px);
    z-index: 8;
    height: 80%;
    width: 50%;
    position:fixed;
    bottom: 7%;
    font-size: 80px;
    text-align: left;
    display: none;
    border-color: rgb(46, 45, 43);
    border-radius: 5px;
    
}
.button1{
    padding: 50px;
    position: fixed;
    left: 45px;
    top: 45px;
    height: 80px;
    width: 80px;
    background-color: rgba(48, 48, 48, 0.178);
    backdrop-filter: blur(3px);
     transition: all 0.2s ease;

}
.startclicked{
    display: block;
}
.button1:hover{
    background-color: rgba(176, 176, 176, 0.395);
}
.button2{
    padding: 50px;
    position: fixed;
    left: 235px;
    top: 45px;
    height: 80px;
    width: 80px;
    background-color: rgba(48, 48, 48, 0.178);
    backdrop-filter: blur(3px);
     transition: all 0.2s ease;
}
.button2:hover{
    background-color: rgba(176, 176, 176, 0.395);
}
.button3{
    padding: 50px;
    position: fixed;
    left: 425px;
    top: 45px;
    height: 80px;
    width: 80px;
    background-color: rgba(48, 48, 48, 0.178);
    backdrop-filter: blur(3px);
     transition: all 0.2s ease;
}
.button3:hover{
    background-color: rgba(176, 176, 176, 0.395);
}
.social > a{
         transition: all 0.2s ease;
         border-radius: 5px;
         padding: 5px;
         margin-left: 5px;
         height: 50px;
         border-style: dotted;
         border-color: rgba(48, 48, 48, 0.178);
         height: max-content;
}
.social > a:hover{
       background-color: rgba(176, 176, 176, 0.395);
        border-radius: 5px;
         border-style: groove;
}
.datetime > a {
    text-decoration: none;
    color: white;
}
.recommend{
    z-index: 10;
    position: absolute;
    background-color: rgba(247, 249, 118, 0.692);
    left: 90%;
    color: rgb(29, 29, 29);
    bottom: 20%;
    backdrop-filter: blur(10px);
    border-radius: 3px;
    border-color: aqua;
    border-style: groove;
}
.recommend > a{
        text-decoration: none;
        background-color: rgba(136, 0, 255, 0.503);
        color: rgb(0, 2, 127);
       transition: all 0.2s ease;
}
.recommend > a:hover{
        background-color: rgba(53, 56, 255, 0.578);
        color: rgba(0, 255, 123, 0.503);
}
