body{
    background-color: rgb(0, 255, 115);
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-ser
}
.box{
    text-align: center;
    margin-top: 50px;
    background-color: rgb(239, 108, 0);
    position: absolute;
    left: 50%; 
    transform: translate(-50%);
    height: auto;
    width: auto;
    box-shadow: rgb(197, 0, 251) 0px 1px 10px;
    border: 1px solid rgb(0, 142, 45);
}  
.main{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 2px;
    height: auto;
    width: auto;
} 
input[type="text"]{
    width: 200px;
    position: fixed;
    left: 0%;
    font-size: 24px;
    justify-content: left;
    margin-left: 1px;
    margin-bottom: 10px;
    border: 4px ridge red;
    padding: 5px;
    transition: all 0.2s ease;
}
input[type="text"]:focus{
    border: 4px groove blue;
    box-shadow: blue 0px 0px 10px;
}
.handles{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    cursor: hand;
    position: absolute;
    right: 0%;
    bottom: 0%;
    position: relative;
    right: 0%;
    bottom: 0%;
    padding: 0px;
}
input[type="button"]{
    background-color: yellow;
    border: 1px solid black;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    cursor: hand;
    transition: all 0.2s ease;
}
input[type="button"]:hover{
    background-color: orange;
    border: 1px solid rgb(255, 255, 255);
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    cursor: hand;
}
.bg1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.bg2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.popup, .popup_capcha{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 238, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.popup button, .popup_capcha button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgba(191, 255, 0, 0.927);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.popup button:hover, .popup_capcha button:hover{
    background-color: rgb(255, 255, 0);
    border: 0px solid rgb(0, 0, 0);
    transition: background-color 0.2s ease;
}
.head{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: rgb(140, 0, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.head2{
    font-size: 19px;
    font-weight: semi-bold;
    text-align: center;
    margin-top: 10px;
    color: rgb(0, 76, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.head2{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}