body{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}
.toolbar{
    align-items: center;
    padding: 10px;
    background-color: #333;
}
textarea{
    width: 100%;
    height: 90vh;
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: Comic Sans MS, cursive, sans-serif;
    resize: none;
    border: 3px solid rgb(0, 0, 0);
    transition: all 0.1s ease-in-out;
}
textarea:focus{
    outline: none;
    border: 3px solid white;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5);
}
.file, .edit{
    background-color: rgb(102, 101, 101);
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    margin: 0;
    width: 50px;
    height: 30px;
    text-align: center;
    cursor: pointer;
   background-color: rgb(102, 101, 101);
   font-size: 16px;  
   border: none;
   outline: none;
   color: white;
   font-family: inherit;
   margin: 0;
   width: 50px;
   height: 30px;
   text-align: center;
   cursor: pointer;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  margin-left: 10px;
}
a{
    color: black;
    padding: 13px 5px;
    text-decoration: none;
    display: block;
    transition: all 0.1s ease-in-out;
}
.show {
  display: block;
}
a:hover {
  background-color: #f1f1f1;
}
.save-as span {
  display: inline;
}
.save-as:hover span {
  display: none;
}
.save-as:hover::after {
  content: 'Save ASS';
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.popup-content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(35, 35, 35, 0.428);
    backdrop-filter: blur(5px);
    border: 2px solid rgb(255, 255, 255);
    padding: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.close{
    position: absolute;
    color: rgb(0, 0, 0);
    right: 10px;
    width: 20px;
    height: 25px;
    background-color: aqua;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    cursor: pointer;;
}
.popup-title{
    font-weight: bolder;
    padding: 10px;
    margin-top: 10px;

}
.popup-content-body{
    background-color: rgb(54, 56, 56);
    height: 100px;
    width: 500px;
    color: rgb(219, 219, 219);
}
.popup-content-body:a{
    color: rgb(219, 219, 219);
}
.footer{
    padding: 3px;
    background-color: rgba(155, 155, 155, 0.448);
    backdrop-filter: blur(5px);
    text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
    width: 50%;
    transform: translate(50%);
    text-shadow: 10px 3px 10px rgb(2, 2, 2);
}
.footer a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 10px;
}